body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #000000 0%, #333333 100%);
    color: #ffffff;
    display: flex;
    flex-direction: column; /* Added to stack children vertically */
    height: 100vh; /* Full viewport height */
    margin: 0;
}

main {
    flex: 1; /* Allow main to grow and fill available space */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

h3 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 25px;
}

label {
    display: block;
    margin-top: 15px;
    font-size: 18px;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
}

select option {
    background: #333333;
    color: white;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    background: #ff0000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background: #cc0000;
}

.form-already {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.form-already a {
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
}

.form-already a:hover {
    text-decoration: underline;
}

.alert-warning {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.5px;
    background: linear-gradient(to left, #f88e8e, #f56767, #f53b3b);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p.alert-warning {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.5px;
    background: linear-gradient(to left, #f88e8e, #f56767, #f53b3b);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 5px 0 0;
}

.footer {
    width: 100%;
    padding: 20px 0;
    background-color: #111;
    color: white;
    text-align: center;
}